@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    margin: 0;
    height: 100%;
    line-height: 1.5;
    background-color: white;
}

body, html{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 2px 4px rgb(89, 189, 230);
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

header:hover{
    transform: scale(1.1);
}


.logo-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 150px;
    height: auto;
    padding: 10px;
}

nav {
    display: inline-block;
}

.nav-item {
    margin: 15px;
    font-size: large;
    font-weight: bold;
    color: rgb(108, 108, 108);
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.1em white;
    transition: 0.4s , 0.3s ease-in-out;
}

.nav-item:hover, 
.nav-item:focus {
    color: rgb(89, 189, 230);
    text-decoration-color: rgb(89, 189, 230);
    text-underline-offset: 1em;
    --offset: 0.4em;
}

.dropdown {
    position: fixed;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgb(108, 108, 108);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: rgb(89, 189, 230);
}

.dropdown:hover .dropdown-content {
    display: block;
}

main{
    flex: 1;
    margin-top: 120px;
}

#welcomeh3, .text{
    margin-left: 200px;
    max-width: 50%;
    color: rgb(108, 108, 108);
}

h2{
    text-align: center;
    font-size: x-large;
    color: rgb(108, 108, 108);
}

#kirjeldus{
    text-align: center;
    font-size: large;
}

#welcomeh3{
    font-size: x-large;
}

h4{
    margin-left: 200px;
    margin-top: 50px;
    max-width: 50%;
    color: rgb(108, 108, 108);
    font-weight: bold;
    font-size: x-large;
}

h5{
    color: rgb(108, 108, 108);
    font-size: larger;
    font-weight: bold;
}

p{
    color: rgb(108, 108, 108);
}

#speedy {
    color: rgb(108, 108, 108);
    margin-right: 300px;
}


.gallery{
    margin-left: 200px;
}

.box{
    display: inline-block;
    border: 2px solid rgb(89, 189, 230);
    box-shadow: 0 1px 4px rgb(89, 189, 230);
    border-radius: 20%;
    padding: 20px;
    margin: 40px;
    transition: 0.3s;
}

.box:hover{
    transform: scale(1.3);
}


.image{
    width: 150px;
    height: 70px;
}

.vaakumpakendaja_images{
    max-width: 300px;
    max-height: 400px;
    float: left;
    margin-right: 50px;
}

.vaakumpakendaja_images2{
    max-width: 300px;
    max-height: 400px;
    float: left;
    margin-right: 50px;
    margin-top: 100px;
}

#vaakumpakendaja_text {
    line-height: 2;
    border: 2px solid rgb(89, 189, 230);
    box-shadow: rgb(89, 189, 230) 0px 5px 15px;
    max-width: 50%;
    padding: 20px;
    font-weight: bold;
}

#vaakumpakendaja_text2 {
    line-height: 2;
    border: 2px solid rgb(89, 189, 230);
    box-shadow: rgb(89, 189, 230) 0px 5px 15px;
    max-width: 50%;
    height: 300px;
    overflow: auto;
    padding: 20px;
    font-weight: bold;
    margin-left: 350px;
}

.products{
    margin-top: 50px;
    margin-left: 200px;
}

.card{
    border-radius: 20%;
    max-width: 100%;
    min-width: 30%;
    margin-bottom: 200px;
}

.kontakt-inimesed {
    display: flex;
    justify-content: space-evenly;
}

.isik {
    border: 2px solid rgb(89, 189, 230);
    border-radius: 20%;
    padding: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.isik:hover {
    background-color: #ceebf8;
    transition: 0.3s ease-in-out;
}

.kontakth3, .lisatekst{
    color: rgb(108, 108, 108);
}

.masinad{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.masin{
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(89, 189, 230);
    box-shadow: #ceebf8 0px 50px 100px -20px, #ceebf8 0px 30px 60px -30px;
    padding: 50px;
    border-radius: 32px;
    width: 200px;
}

.masin:hover{
    background-color: #ceebf8;
    transition: 0.3s ease-in-out;
}

#lavakiletaja1, #lavakiletaja2, #termokambermasin1, #termokambermasin2, #minifill, #bellift, #beltop, #belspot_voolavatele {
    margin-bottom: 400px;
}

a{
    text-decoration: none;
}

#belspot {
    margin-top: 200px;
    margin-left: 0px;
}

#belspot_desc{
    margin-left: 0px;
}

footer{
    background-color: #ceebf8;
    font-weight: bold;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer-text{
    color: rgb(108, 108, 108)
}

iframe {
    margin-top: 50px;
}