@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    display: flow-root;
    margin: auto;
}

header{
    font-weight: bold;
    background-color: none;
    padding: 20px;
}

.header-content{
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
    height: auto;
}

.other{
    list-style-type: none;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(118, 197, 221);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.other a{
    color: rgb(82, 82, 82);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.other a:hover{
    color: rgb(82, 82, 82);
    background-color: rgba(118, 197, 221, 0.295);
}

.other li{
    float: left;
}

h3, .text{
    margin-right: 500px;
    margin-left: 500px;
    color: rgb(82, 82, 82);
}


.box{
    flex: 1 1 30%;
    max-width: 30%;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
}

.box:hover{
    background-color: rgba(118, 197, 221, 0.295);
}

.container{
    margin-right: 500px;
    margin-left: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    border: 2px solid;
    border-radius: 10%;
    border-color: rgb(118, 197, 221);
}


.image{
    width: 50%;
    height: 60%;
}

footer{
    font-weight: bold;
    text-align: center;
    width: 100%;
}