@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    margin: 0;
    height: 100%;
    line-height: 1.5;
}

body, html{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-logo{
    width: 200px;
    height: auto;
    padding: 20px;
    position: fixed;
}

.navbar{
    align-items: center;
    font-weight: bold;
    background-color: none;
    padding: 20px;
    margin-left: 300px;
    top: 0;
    position: fixed;
}

.other{
    list-style-type: none;
    box-shadow: 5px 5px 5px rgb(118, 197, 221);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.other li{
    float: left;
}

.other a{
    color: rgb(82, 82, 82);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.other a:hover{
    background-color: rgba(118, 197, 221, 0.295);
}

main{
    flex: 1;
    margin-top: 120px;
}

#welcomeh3, .text{
    margin-left: 200px;
    margin-right: 400px;
    color: rgb(82, 82, 82);
}

#welcomeh3{
    font-size: x-large;
}


.container{
    margin-right: 500px;
    margin-left: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 2px solid;
    border-radius: 10%;
    border-color: rgb(118, 197, 221);
}

.box{
    flex: 1 1 30%;
    max-width: 30%;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
}

.box:hover{
    background-color: rgba(118, 197, 221, 0.295);
}


.image{
    width: 50%;
    height: 40%;
}

.kontakt-inimesed {
    display: flex;
}

.isik {
    border: 1px solid rgb(118, 197, 221);
    border-radius: 20%;
    padding: 30px;
    box-shadow: 5px 5px 5px rgb(118, 197, 221);
}

.isik:hover {
    background-color: rgba(118, 197, 221, 0.295);
}

#Andrik {
    margin-left: 200px;
}

#Tehnik {
    margin-left: 100px;
}

#Hooldus{
    margin-left: 100px;
}

.kontakth3, .lisatekst{
    color: rgb(82, 82, 82);
}

a{
    text-decoration: none;
}

.map{
    margin-left: 200px;
}


footer{
    color: rgb(82, 82, 82);
    background-color: rgba(118, 197, 221, 0.295);;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}